.alert-checkbox-label {
    font-size: 0.8rem!important;
    color: red;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding:0 12%!important;
}
ion-segment-button {
    height: 4rem;
}

.segment-button-checked {
    color: #230cf3;
//     --indicator-box-shadow: red;
}
// }
// // .in-segment-color {
// //     background-color: blueviolet!important;
// // }
// ion-segment {
// background-color: --ion-color-primary;
// }