.alert-checkbox-label {
  font-size: 0.8rem !important;
  color: red;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding: 0 12% !important;
}
ion-segment-button {
  height: 4rem;

}

// .segment-button-checked {
//   color: #230cf3;
// //   border: 2px solid #230cf3;
// }
:host::before {
    border: 2px solid red;
}
// }
// // .in-segment-color {
// //     background-color: blueviolet!important; 
// // }yy
ion-segment {
background-color: rgb(238, 231, 231);
}
// .in-segment-color {
// color:grey;
// }
// .segment-button-checked {
//   color: #f70404;
// }
.advice_Tab.segment-button-checked {
  color: #cf8f90;
}
.plus_Minus_Tab.segment-button-checked {
  color: #d86029;
}
.rating_Tab.segment-button-checked {
  color: #d69027;
}